.notfound-card {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/delrn2vxa/image/upload/v1700965991/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_ruvvse.png');
  background-size: cover;
}
